@import './base/modern-normalize';
@import './utilities/variables';
@import './utilities/placeholders';
@import './utilities/mixins';
@import './common_styles/common-styles';
@import './components/header_-new2';
@import './components/hero';
@import './components/team';
@import './components/portfolio/filter-button';
@import './components/portfolio/projects';
@import './components/footer-new';
