// :root {
//   --primary-black-color: #212121;
//   --secondary-black-color: #757575;
//   --primary-white-color: #ffffff;
//   --secondary-white-color: #f5f5f5;
//   --secondary-back-ground-color: #2f303a;
//   --white-alfa-color: rgba(255, 255, 255, 0.6);
//   --gray-color-photo-border: #eeeeee;
//   --gray-color-header-border: 1px solid #ececec;
//   --gray-color-links: #afb1b8;

//   --accent-color: #2196f3;
//   --accent-color-main-button: #188ce8;
//   --gray-color: #f5f4fa;
//   --logo-black-color: #000000;

//   --font-roboto: 'Roboto', sans-serif;
//   --font-raleway: 'Raleway', sans-serif;
// }
  $primary-black-color: #212121;
  $secondary-black-color: #757575;
  $primary-white-color: #ffffff;
  $secondary-white-color: #f5f5f5;
  $secondary-back-ground-color: #2f303a;
  $white-alfa-color: rgba(255, 255, 255, 0.6);
  $gray-color-photo-border: #eeeeee;
  $gray-color-header-border: 1px solid #ececec;
  $gray-color-links: #afb1b8;

  $accent-color: #2196f3;
  $accent-color-main-button: #188ce8;
  $gray-color: #f5f4fa;
 
  $logo-black-color: #000000;

  $font-roboto: 'Roboto', sans-serif;
 $font-raleway: 'Raleway', sans-serif;