@media screen and (max-width: 479px) {
  .activities {
    display: none;
  }
}
.activities {
  padding-bottom: 94px;
}
.activities-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.activities-item {
  position: relative;
  &__image {
  display: block;
}
  &__description {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0;
  color: $primary-white-color;
}
  &__background {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 370px;
}
}