.header {
  // position: relative;
  @media screen and (max-width: 1199px) {
    padding: 10px 0;
  }

  height: 80px;
  &--portfolio {
    border-bottom: $gray-color-header-border;
  }
  @media screen and (max-width: 767px) {
    & {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: left;
    }
  }
}
.menu-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  display: inline-flex;
  border: none;
  padding: 0;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  &.is-open {
    position: fixed;
  }
  @media screen and (min-width: 767px) {
    display: none;
  }
}
.button-svg {
  color: $accent-color;
  fill: $primary-black-color;
  @include transition(fill);
  &:hover,
  &:focus {
    fill: currentColor;
    cursor: pointer;
  }
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}
.menu-container {
  min-width: 320px;
  @media screen and (max-width: 767px) {
    display: none;
    position: fixed;
    z-index: 5;
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: $primary-white-color;
    $padding-width: calc(100vw / 480 * 40);
    $padding-height: calc(100vh / 796 * 40);
    padding: $padding-height $padding-width;

    @media screen and (min-width: 480px) and (min-height: 480px) {
      padding: 40px 40px;
    }
    &.is-open {
      display: block;
      .menu-container-overlay {
        display: flex;
        flex-direction: column;
        max-width: 450px;
        margin: 0 auto;
        height: 100%;
        justify-content: space-between;
      }
    }
  }
  @media screen and (min-width: 768px) {
    .menu-container-overlay {
      display: flex;
      align-items: center;
      gap: 96px;
    }
  }
  @media screen and (min-width: 1199px) {
    .menu-container-overlay {
      // display: flex;
      // align-items: center;
      gap: 96px;
    }
  }
}

.header-social {
  display: none;
  @media screen and (max-width: 767px) {
    & {
      display: flex;
      // justify-content: space-between;
      list-style: none;
      padding: 0;
      margin: 0;
      color: $accent-color;
      letter-spacing: 0.02em;
    }
    &__item {
      flex-grow: 1;
      display: flex;
      justify-content: center;
    }
    &__item + &__item {
      border-left: 1px solid rgba(33, 33, 33, 0.2);
    }

    &__links {
      color: $accent-color;
      font-weight: 500;
      font-size: calc(3.75vmin);
      line-height: calc(22 / 18 * 3.75vmin);
      // &::after {
      //   content: '';
      //   width: 2px;
      //   height: 20px;
      //   background-color: black;
      // }
      @media screen and (min-width: 480px) and (min-height: 480px) {
        font-size: 18px;
        line-height: calc(22 / 18);
      }
      letter-spacing: 0.02em;
    }
  }
}
.navigation-list {
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
  &__link {
    color: $primary-black-color;
    font-weight: 500;
    font-size: 14;
    line-height: calc(16 / 14);
    padding: 32px 0;
    @include transition();
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
    cursor: pointer;
  }
  &__link--main-page {
    color: $accent-color;
  }
  @media screen and (min-width: 768px) {
    &__item--accent {
      position: relative;
    }
    &__link--main-page::before {
      position: absolute;
      bottom: -32px;
      left: -1px;
      content: '';
      display: inline-block;
      width: calc(100% + 2px);
      height: 4px;
      border-radius: 2px;
      background-color: $accent-color;
    }
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    // gap: 32px;
    gap: calc(100vmin / 15);
    &__link {
      font-weight: 500;
      font-size: calc(100vmin / 12);
      line-height: calc(47 / 40 * 100vmin / 12);
      @media screen and (min-width: 480px) and (min-height: 480px) {
        font-size: 40px;
        line-height: calc(47 / 40);
      }
      padding: 0;
    }
  }
  // @media screen and (max-height: 450px) {
  //   gap: 20px;
  // }
}
.container-header {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.contacts-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  @media screen and (min-width: 768px) {
    gap: 0;
    margin: 0;
  }
  &__link {
    display: flex;
    align-items: center;
    color: $secondary-black-color;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    padding: 5px 0;
    @include transition();
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
    cursor: pointer;
  }
  &__svg {
    display: flex;
    width: 16px;
    height: 12px;
    fill: currentColor;
    margin-right: 10px;
  }
  &__svg--smartphone {
    width: 10px;
    height: 16px;
  }
  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    gap: calc(6.67vmin);
    // @media screen and (min-width: 480px) {
    //   gap: 32px;
    // }
    padding: 0;
    margin-bottom: 13.33vmin;
    // @media screen and (max-height: 450px) {
    //   margin-bottom: 32px;
    // }
    &__link {
      color: $secondary-black-color;
      font-weight: 500;
      font-size: calc(10vmin / 2);
      line-height: calc(10vmin / 2 * 28 / 24);
      @media screen and (min-width: 480px) and (min-height: 480px) {
        font-size: 24px;
        line-height: calc(28 / 24);
      }
      padding: 0;
      @include transition();
    }
    &__link:hover,
    &__link:focus {
      color: $accent-color;
      cursor: pointer;
    }
    &__svg {
      display: none;
    }
    &__link--smartphone {
      color: $accent-color;
      font-weight: 500;
      font-size: 34px;
      font-size: calc(1vmin * 7.08);
      line-height: calc(40 / 34 * 1vmin * 7.08);
      @media screen and (min-width: 480px) and (min-height: 480px) {
        font-size: 32px;
        line-height: calc(40 / 34);
      }
    }
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 30px;
    &__link {
      padding: 32px 0;
    }
  }
}
