.header {
  // position: relative;
  @media screen and (max-width: 1199px) {
    padding: 10px 0;
  }

  height: 80px;
  &--portfolio {
    border-bottom: $gray-color-header-border;
  }
  @media screen and (max-width: 767px) {
    & {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: left;
    }
  }
}
.menu-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  display: inline-flex;
  border: none;
  padding: 0;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  &.is-open {
    position: fixed;
  }
  @media screen and (min-width: 767px) {
    display: none;
  }
}
.button-svg {
  color: $accent-color;
  fill: $primary-black-color;
  @include transition(fill);
  &:hover,
  &:focus {
    fill: currentColor;
    cursor: pointer;
  }
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}
.menu-container {
  min-width: 320px;
  @media screen and (max-width: 767px) {
    display: none;
    position: fixed;
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: $primary-white-color;
    $padding-width: calc(100vw / 480 * 40 / 1.1);
    $padding-height: calc(100vh / 796 * 48 / 1.1);
    padding: $padding-height $padding-width;
    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    gap: 96px;
  }
  @media screen and (min-width: 1199px) {
    display: flex;
    align-items: center;
    gap: 315px;
  }
}

.header-social {
  display: none;
  @media screen and (max-width: 767px) {
    & {
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding: 0;
      margin: 0;
      color: $accent-color;
      letter-spacing: 0.02em;
    }
    &__links {
      color: $accent-color;
      font-weight: 500;
      font-size: 18px;
      line-height: calc(22 / 18);
      @media screen and (max-width: 400px) {
        font-size: 16px;
      }
      @media screen and (max-width: 350px) {
        font-size: 15px;
      }
      letter-spacing: 0.02em;
    }
  }
}
.navigation-list {
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
  &__link {
    color: $primary-black-color;
    font-weight: 500;
    font-size: 14;
    line-height: calc(16 / 14);
    padding: 32px 0;
    @include transition();
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
    cursor: pointer;
  }
  &__link--main-page {
    color: $accent-color;
  }
  @media screen and (min-width: 768px) {
    &__item--accent {
      position: relative;
    }
    &__link--main-page::before {
      position: absolute;
      bottom: -32px;
      left: -1px;
      content: '';
      display: inline-block;
      width: calc(100% + 2px);
      height: 4px;
      border-radius: 2px;
      background-color: $accent-color;
    }
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 32px;
    &__link {
      font-weight: 500;
      font-size: 40px;
      line-height: calc(47 / 40);
      padding: 0;
    }
  }
  @media screen and (max-height: 450px) {
    gap: 20px;
  }
}
.container-header {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.contacts-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  @media screen and (min-width: 768px) {
    gap: 0;
    margin: 0;
  }
  &__link {
    display: flex;
    align-items: center;
    color: $secondary-black-color;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    padding: 5px 0;
    @include transition();
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
    cursor: pointer;
  }
  &__svg {
    display: flex;
    width: 16px;
    height: 12px;
    fill: currentColor;
    margin-right: 10px;
  }
  &__svg--smartphone {
    width: 10px;
    height: 16px;
  }
  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    gap: calc(100vh * (32 / 796));
    padding: 0;
    margin-bottom: 64px;
    @media screen and (max-height: 450px) {
      margin-bottom: 32px;
    }
    &__link {
      color: $secondary-black-color;
      font-weight: 500;
      font-size: 24px;
      line-height: calc(28 / 24);
      padding: 0;
      @include transition();
    }
    &__link:hover,
    &__link:focus {
      color: $accent-color;
      cursor: pointer;
    }
    &__svg {
      display: none;
    }
    &__link--smartphone {
      color: $accent-color;
      font-weight: 500;
      font-size: 34px;
      line-height: calc(40 / 34);
      @media screen and (max-width: 350px) {
        font-size: 32px;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 30px;
    &__link {
      padding: 32px 0;
    }
  }
}
